#headerName {



            text-align: center;
            /* color: white; */
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, 
    Georgia, serif; font-size: 50px; font-style: normal; 
    font-variant: normal; font-weight: 400; 
    /* padding: 0;
    margin: 0; */



}



body {



            /* background-color: linen; */

}



#headMain {


            background-color: steelblue;
            color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            /* float: left; */
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, 
    Georgia, serif;  font-style: normal; 
    font-variant: normal; font-weight: 400; 

    padding-left: 15px;


}


#about {



            text-align: center;

}


#mePic {



            width: 25%;
            display: block;
            margin: auto;

}


#list {


            float: inline-start;

}


hr {


            width: 50%;

}




#sample {


    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, 
    Georgia, serif; font-size: 14px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 


}

#headMain2{

            color: white;
            text-decoration: none;


}

/* #headMain3{


            

} */



.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  
  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }
  
  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #115b8d;
  }
  
  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }
  
  /* #getInTouch {


            display: block;
            margin: auto;

  } */


/* YOUTUBE SAMPLE VIDEO ADDITION */
  /* .section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .section h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  } */



  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 15%;
  }


  .parallelogram {

        width: 100px;
        height: 50px;
        transform: skew(20deg);
        background: red;
        
        outline: thin;
        



  }


  .containerMan{


      display: grid;
      grid-template-columns: auto auto auto auto;


  }

  .gridItem {


        text-align: center;

  }

  #firstGrid{

        border: rgb(122, 120, 120) solid 5px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        padding-top: 70px;
        padding-bottom: 70px;



  }

  .descriptionHeader {

      text-align: center;


  }