#headerName {



            text-align: center;


}



body {



            background-color: linen;

}



#headMain {


            background-color: steelblue;


}


#about {



            text-align: center;

}