#headerName {



            text-align: center;
            /* color: white; */


}



body {



            background-color: linen;

}



#headMain {


            background-color: steelblue;
            color: white;
            padding-top: 15px;
            padding-bottom: 15px;


}


#about {



            text-align: center;

}


#mePic {



            width: 25%;
            display: block;
            margin: auto;

}