#headerName {



            text-align: center;
            /* color: white; */
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, 
    Georgia, serif; font-size: 50px; font-style: normal; 
    font-variant: normal; font-weight: 400; 
    /* padding: 0;
    margin: 0; */



}


/* 
body {



             background-color: linen; 

}
 */


#headMain {


            background-color: steelblue;
            color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            /* float: left; */
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, 
    Georgia, serif;  font-style: normal; 
    font-variant: normal; font-weight: 400; 

    padding-left: 15px;


}


#about {



            text-align: center;

}


#mePic {



            width: 25%;
            display: block;
            margin: auto;

}


#list {


            float: inline-start;

}


hr {


            width: 50%;

}




#sample {


    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, 
    Georgia, serif; font-size: 14px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 


}

#headMain2{

            color: white;
            text-decoration: none;


}

/* #headMain3{


            

} */



.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  
  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }
  
  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #115b8d;
  }
  
  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }
  
  /* #getInTouch {


            display: block;
            margin: auto;

  } */


/* YOUTUBE SAMPLE VIDEO ADDITION */
  /* .section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .section h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  } */



  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 15%;
  }


  .parallelogram {

        width: 100px;
        height: 50px;
        transform: skew(20deg);
        background: red;
        
        outline: thin;
        



  }


  .containerMan{


      display: grid;
      grid-template-columns: auto auto auto auto;


  }

  .gridItem {


        text-align: center;

  }

  #firstGrid{

        border: rgb(122, 120, 120) solid 5px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        padding-top: 70px;
        padding-bottom: 70px;



  }

  .descriptionHeader {

      text-align: center;


  }

  #containerBoy {


        display: grid;
        grid-template-columns: auto;

  }


  .previewGrid{


        border: solid 5px black;
        margin-top: 50px;

  }

  .previewPic{

      display: block;
      margin: auto;
      border: solid 5px lightslategray;
      /* width: 100%;
      height: auto; */


  }

  .getInTouchButt{


      display: block;
      margin: auto;
      float: right;

  }

  .theButton {


      border: lightslategray solid;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
      text-align: center;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 30px;

  }

  

  .theButton2 {
    display: block;
    margin: auto;
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
            width: 100%;
  }
  
  .theButton2:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .theButton2:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }
  
  .theButton2:hover,
  .theButton2:focus {
    background-color: #115b8d;
  }
  
  .theButton2:hover:before,
  .theButton2:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }

  /* .containerHeadButton{

        display: grid;
        grid-template-columns: auto;


  } */


  .notesHead {


      text-align: center;
      font-size: 45px;

  }

  ul {

      list-style-type: none;
     
  }

  .noteGrid {

      display: grid;
      grid-template-columns: auto auto auto;

  }
  #noteDates{


    text-align: center;
    display: block;
    padding-right: 95px;
}
  #noteTopics {

    text-align: center;
  }

  #blanks {

              opacity: 0%;

  }

  #pictureBox1 {

          width: 60%;
          height: 100%;
          
          border-style: solid;
  border-width: 3px;
  margin-left: 35px;
  
  margin-bottom: 30px;
  cursor: pointer;

  }

  /* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */

  /* .backgroundVideo{



  } */

  /* .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  */
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    /* -ms-user-select: none;
    user-select: none;
 } */


 /* #videoBG {
  position:fixed;
  z-index: -1;
}
@media {
  #videoBG {
      min-width:100%;
      min-height: 100%;
  }
}
@media  {
  #videoBG { 
      min-width:100%;
      min-height: 100%;
  }
}
@media (max-width: 100%) {
  #videoBG {
      display: none;
  }
  body {
      background: url('./img/Comp_8_4.mp4');
      background-size: cover;
  }
} */


#instagram{

        width: 25px;
        height: 25px;
        float: right;
        

}

#linkdin {


      width: 30px;
      height: 30px;

}


#topBarColor {

    color: azure;
    background-color: steelblue;

}

#pictureBox2 {

  width: 60%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  margin-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;


}


.theButton3 {

      border-style: solid;
      
      border-width: 5px;
      
      text-align: center;
      

}


.button1 {
  padding:1em;
  text-align: center;
  display:inline-block;
  text-decoration: none !important;
  margin:0 auto;
  border-style: solid;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container1{
width: 100%;
text-align: center;
}

#picText1 {

        text-align: center;
}
#picText2 {

  text-align: center;
}
#picText3 {

  text-align: center;
}
#picText4 {

  text-align: center;
}

#pictureBox1:hover {
  transform: scale(1.2);
  margin-bottom: 30px;
}


#pictureBox2:hover {


    transform: scale(1.2);
    margin-bottom: 30px;


}


#pictureBox3 {

  width: 60%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  margin-left: 35px;
  
  margin-bottom: 30px;
  cursor: pointer;


}

#pictureBox4 {

  width: 60%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  margin-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;

}

#pictureBox3:hover {


  transform: scale(1.2);
  margin-bottom: 30px;

}

#pictureBox4:hover {


  transform: scale(1.2);
  margin-bottom: 30px;

}

.paraContainer {width:960px;
  margin:0 auto;
  padding:10px 25px;
  border:1px solid #ccc;
  background:#fff; 
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, 
  serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 300; 
  line-height: 26.4px;}

  .headPara{

    text-align: center;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, 
    serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; 
    line-height: 26.4px;

}



#meCrop {


      height: 250px;
      width: 450px;
      display: block;
      margin: auto;


}


#spacers{

  opacity: 0%;

}